@{
    ViewBag.Title = "Home Page";
}
<div class="col-md-9">
    <div class="row">
        <h2>Shrek's door</h2>
        <ul>
            <li>Glazed</li>
            <li>Blind</li>
        </ul>
        <img src="~/img/hqdefault.jpg" />
        <h3>Description</h3>
        <ul class="door-attributes">
            <li>Manufacturer: Beldoors</li>
            <li>Color: white, grey, brown</li>
            <li>Solid oak</li>
            <li>14.8$</li>
        </ul>
        <button id="BuyButton" class="btn btn-success">Buy</button>
    </div>
</div>
<div class="col-md-3">
    <p>Sample text.</p>
</div>
