@{
    ViewBag.Title = "About Us";
}
<h2>About Us</h2>
<div style="padding:2%; ">
    <p>
        The Door Shop is a door and hardware supply group of specialists with a unique
        team approach to product delivery. Our team of managers and technicians have 450
        years of combined experience in design, management and hardware installation.
    </p>
    <p>
        Most suppliers sell products with a basic understanding of how their products integrate
        into the finished facility and operations but with a very limited understanding of
        how they integrate into the construction project itself, with intersecting scopes,
        divisions and trades.
    </p>
    <p>
        Our pre-construction processes include a thorough review from
        both a designer and installer perspective, utilizing our technicians’ familiarity
        with door and hardware installation and construction means and methods. Because of
        this, we have the unique ability to identify conflicts and problems before products ship.
    </p>
</div>
<h2>Our History</h2>
<div style="padding:2%; ">
    <p>
        Our story began on the banks of the Ohio river in Maysville, Kentucky. Jerry T. Rains started The Door Shop in the mid-1980’s, continuing
        in his family tradition of entrepreneurs in the construction and hardware industry dating back to the 1930s. He built The Door Shop on
        three main principles, which stand to this day: excellent customer relationships, honest practices, and technical expertise.
    </p>
    <p>
        In 2013, the company relocated to central Ohio when Barry Couts established The Door Shop as a division of True Inspection Services
        (TIS). A strong foundation, combined with the leadership, client base and success of TIS, has led to the company’s steady growth. Our
        story continues as The Door Shop team delivers exceptional products and services around the country and overseas and builds partnerships
        with our valued customers and manufacturers.
    </p>
</div>