@{
    ViewBag.Title = "Home Page";
}
    <div class="col-md-12">
        <div class="row text-center">
            @*<h2>Shrek's door</h2>
        <ul>
            <li>Glazed</li>
            <li>Blind</li>
        </ul>
        <img src="~/img/hqdefault.jpg" />
        <h3>Description</h3>
        <ul class="door-attributes">
            <li>Manufacturer: Beldoors</li>
            <li>Color: white, grey, brown</li>
            <li>Solid oak</li>
            <li>14.8$</li>
        </ul>
        <button id="BuyButton" class="btn btn-success">Buy</button>*@
            <h2 class="text-center" style="font-weight:bold;">Doorshop "Flex to the next door"</h2>
            <h3 class="text-center">Doors and furniture at the lowest prices.</h3>
            <img src="~/img/hello.webp" class="rounded mx-auto d-block" width="70%" />
            <img src="~/img/kickdoor.gif" class="rounded mx-auto d-block" width="70%" />
            <h3 class="text-center" style="font-weight:bold;">
                Over 450 years of combined experience in design, management and hardware installation.
            </h3>
            <p>
                We partner with leading contractors, developers and owners to provide door and hardware products, services and solutions that ensure successful projects while building strong lifetime relationships.

                An EDGE, DBE, MBE and 8A door and hardware distributor with a nationwide footprint, serving customers throughout the United States and the Caribbean.
            </p>
            <p style="font-size:10px; font-weight:bold;">This site is a coursework on the subject "IT"</p>
        </div>
    </div>
@*<div class="col-md-3">
        <p>Sample text.</p>
    </div>*@
