<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Doorshop: @ViewBag.Title</title>
    <link href="~/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
</head>
<body>

        <div class="navbar fixed-nav navbar-default">
            <header class="container">
                <div>
                    <div class="navbar-brand" style="width:40%;">
                        <i class="fa fa-building-o fa-"></i> Welcome to Doorshop: @ViewBag.Title
                    </div>
                    <button class="navbar-toggle" data-toggle="collapse" data-target="#menu">&#9776;</button>
                </div>
                <div id="menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav" style="width:60%">
                        <li style="width:18%; ">
                            <a asp-controller="App" asp-action="Index">Home page</a>
                        </li>
                        <li style="width:18%; ">
                            <a asp-controller="App" asp-action="Shop">Shop page</a>
                        </li>
                        @if (User.IsInRole("Admin"))
                        {
                            <li style="width:15%; ">
                                <a asp-controller="App" asp-action="Contact">Contact Us</a>
                            </li>
                            <li style="width:14%; ">
                                <a asp-controller="App" asp-action="About">About Us</a>
                            </li>
                            <li style="width:17%; ">
                                <a asp-controller="App" asp-action="Cabinet">Add products</a>
                            </li>
                            <li style="width:10%;  ">
                                <a asp-controller="Account" asp-action="Logout">Logout</a>
                            </li>
                        }
                        else
                        {
                            <li style="width:20%; ">
                                <a asp-controller="App" asp-action="Contact">Contact Us</a>
                            </li>
                            <li style="width:20%; ">
                                <a asp-controller="App" asp-action="About">About Us</a>
                            </li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li style="width:20%;  ">
                                    <a asp-controller="Account" asp-action="Logout">Logout</a>
                                </li>
                            }
                            else
                            {
                                <li style="width:20%; ">
                                    <a asp-controller="Account" asp-action="Login">Login</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </header>
        </div>
        <section class="container bodyIndent">
            @RenderBody()
        </section>

        <footer class="container"><div class="text-center"> Copyright 2018 Doorshop</div>
    </footer>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/index.js"></script>
    @RenderSection("scripts", false)
</body>
</html>